<div class="easy-select">
  <div class="easy-select-form__background">
    <h2 class="easy-select-title">
      <img class="easy-select-title__hyotan" src="/assets/hyotan.png" alt="">
      <img class="easy-select-title__image" src="/assets/logo.png" alt="">
    </h2>
    <img class="easy-select-baku" src="/assets/baku.png" alt="">
    <form #easySelectForm="ngForm" class="easy-select-form" action="" method="post">
      <div class="easy-select-form__box">
        <h2 class="easy-select-form__title">利用人数</h2>
        <div class="easy-select-form__flex-wrapper">
          <div class="easy-select-form__item"
               *ngFor="let item of headcount; let idx = index;"
          >
            <label>
              <input type="radio"
                     [value]="item"
                     (change)="onChangeHeadCount(idx)"
                     [checked]="selectedHeadCount === item"
              ><span class="easy-select-form__text">{{item}}人</span>
            </label>
          </div>
        </div>
      </div>

      <div class="easy-select-form__box">
        <h2 class="easy-select-form__title">一人あたりの予算</h2>
        <div class="easy-select-form__flex-wrapper">
          <div class="easy-select-form__item"
               *ngFor="let item of budget; let idx = index;"
          >
            <label>
              <input type="radio"
                     [value]="item"
                     (change)="onChangeBudget(idx)"
                     [checked]="selectedBudget === item"
              ><span class="easy-select-form__text">{{item}}円</span>
            </label>
          </div>
        </div>
      </div>

      <div class="easy-select-form__box">
        <h2 class="easy-select-form__title">気分</h2>
        <div class="easy-select-form__flex-wrapper">
          <div class="easy-select-form__item"
               *ngFor="let item of style; let idx = index;"
          >
            <label>
              <input type="radio"
                     [value]="item"
                     (change)="onChangeStyle(idx)"
                     [checked]="selectedStyle === item"
              ><span class="easy-select-form__text">{{item}}</span>
            </label>
          </div>
        </div>
      </div>

      <div class="easy-select-form__box">
        <h2 class="easy-select-form__title">コレは外せない！</h2>
        <div class="easy-select-form__flex-wrapper">
          <div class="easy-select-form__item"
               *ngFor="let item of must; let idx = index;"
          >
            <label>
              <input type="checkbox"
                     [value]="item"
                     (change)="onSelectMust(idx)"
              ><span class="easy-select-form__text">{{item}}</span>
            </label>
          </div>
        </div>
      </div>

      <label>
        <input class="easy-select-form__button"
               type="button"
               value="バックンのおすすめを聞く"
               (click)="onClickAsk()">
        <img class="bakkun" src="/assets/complete_baku.png" alt="">
      </label>
    </form>
  </div>
</div>

