<div class="easy-select-form__background">
  <h2 class="easy-select-title">
    <img class="easy-select-title__image" src="" alt="">
  </h2>
  <form class="easy-select-form" action="" method="post">
    <div class="easy-select-form__box">
      <h2 class="easy-select-form__title">一人あたりの予算</h2>
      <div class="easy-select-form__flex-wrapper">
        <div class="easy-select-form__item">
          <input type="radio" name="budget" value="1000" checked="checked"><span class="easy-select-form__text">1000円</span>
        </div>
        <div class="easy-select-form__item">
          <input type="radio" name="budget" value="1500"><span class="easy-select-form__text">1500円</span>
        </div>
        <div class="easy-select-form__item">
          <input type="radio" name="budget" value="2000"><span class="easy-select-form__text">2000円</span>
        </div>
        <div class="easy-select-form__item">
          <input type="radio" name="budget" value="2500"><span class="easy-select-form__text">2500円</span>
        </div>
        <div class="easy-select-form__item">
          <input type="radio" name="budget" value="3000"><span class="easy-select-form__text">3000円</span>
        </div>
        <div class="easy-select-form__item">
          <input type="radio" name="budget" value="4000"><span class="easy-select-form__text">4000円</span>
        </div>
        <div class="easy-select-form__item">
          <input type="radio" name="budget" value="4500"><span class="easy-select-form__text">4500円</span>
        </div>
        <div class="easy-select-form__item">
          <input type="radio" name="budget" value="5000"><span class="easy-select-form__text">5000円</span>
        </div>
      </div>
    </div>



    <div class="easy-select-form__wrapper">
      <div class="easy-select-form__item">
        <input type="checkbox" name="hyouka" value="good" checked="checked"><span class="easy-select-form__text">良い</span>
      </div>
      <div class="easy-select-form__item">
        <input type="checkbox" name="hyouka" value="bad"><span class="easy-select-form__text">良い</span>
      </div>
    </div>
  </form>
  <div class="dummy"></div>
</div>

