<form class="easy-select-form" action="" method="post">
  <div class="easy-select-form__wrapper">
    <div class="easy-select-form__item">
      <input type="radio" name="hyouka" value="good" checked="checked"><span class="easy-select-form__text">良い</span>
    </div>
    <div class="easy-select-form__item">
      <input type="radio" name="hyouka" value="bad"><span class="easy-select-form__text">良い</span>
    </div>
  </div>
  <div class="easy-select-form__wrapper">
    <div class="easy-select-form__item">
      <input type="checkbox" name="hyouka" value="good" checked="checked"><span class="easy-select-form__text">良い</span>
    </div>
    <div class="easy-select-form__item">
      <input type="checkbox" name="hyouka" value="bad"><span class="easy-select-form__text">良い</span>
    </div>
  </div>
</form>
