<div class="detail">
  <div>
    <div class="detail-form__box" *ngFor="let menu of menus">
      <p class="detail-form__name">{{menu.name}}</p>
      <p class="detail-form__price_in">{{menu.price_in}} 円</p>
      <button class="detail-form__button" (click)="onClickDelete(menu)">いらない</button>
    </div>
  </div>
  <div class="detail-order" (click)="onClickOrder()">
    <img class="detail-order__image" src="assets/confirm.png" alt="">
    <div class="detail-order__price">確定 ( 合計 {{totalPrice}}円 )</div>
  </div>
</div>

