<div class="complete">
  <div>
    <h2 class="complete-title">
      <img class="complete-title__hyotan" src="/assets/hyotan.png" alt="">
      <img class="complete-title__image" src="/assets/logo.png" alt="">
    </h2>
    <div>
      <img class="complete-baku" src="/assets/baku_complete.png" alt="">
    </div>
    <div class="complete-qrcode">
      <img class="complete-qrcode__image"
           [attr.src]="qrCodePath"
           alt="">
      <img class="complete-qrcode__baku"
           src="/assets/baku_qr2.gif"
           alt="">
    </div>
  </div>
</div>
